PORT=5000
MONGO_URI=mongodb+srv://ProjectAdmin:***********@project-management.jwjmhmx.mongodb.net/pms?retryWrites=true&w=majority&appName=project-management
JWT_SECRET=any_long_random_string_here_like_asdkj23kj4kasd
CLIENT_URL=http://localhost:3000
EMAIL_USER=regmishovit12@gmail.com
EMAIL_PASSWORD=****************
FRONTEND_URL=http://localhost:3000







bklnrwxnkdydykxq mail pw
Project12345        db pw